$text-color:        white;
$secondary-orange:  orange;

body > header {
  margin-top: 72px;
  left: 0px;
  right: 0px;
  position: relative; 
  background-color: $secondary-orange;
  background-image: url(http://www.transparenttextures.com/patterns/wide-rectangles.png);
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    text-align: center;
    color: $text-color;
  }
}

#username {
  margin: 0;
  font-weight: normal;
}
@media only screen and (min-width: 768px) {
  body > header {
    margin-top: 120px;
    height: 400px;
    display: block;
  }
}