$text-color:  white;
$button-color:  red;

nav {
  font-family: 'Bungee', cursive;
  height: 60px;
  width: 100%;
  background-color: #4056A1;
  color: $text-color;
  padding: 1.5em;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  .toggle-button {
    font-family: 'Source Sans Pro', sans-serif;
    float: right;
    font-size: 1rem;
    text-align: center;
  }
  .toggle-button:hover {
    text-decoration: underline;
  }
}

.fa-chevron-circle-down {
  color: $button-color;
}

@media only screen and (min-width: 768px) {
  nav {
    height: 120px;
  }
}