.new-tweet {
  display: none;
  padding-left: 30px;
  padding-right: 30px;
}

textarea {
  background-color: inherit;
  width: 100%;
  resize: none;
  border: 0;
  border-bottom: thick #545149 solid;
  color: #545149;
  font-weight: bold;
  font-size: 1rem;
}

input {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  font-size: 80%;
}

input:hover {
  font-size: 90%;
}

.counter {
  font-family: 'Bungee', cursive;
  color: #545149;
  float: right;
}

.red {
  color: red;
}

.error {
  color: red;
  border: red solid;
  width: 100%;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
  display: none;
}

@media only screen and (min-width: 768px) {
  section.new-tweet {
    margin-top: 140px;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
}