$text-color:          white;
$primary-grey:        #545149;
$submit-button-color: #4056A1;
$alert-color:         red;

.new-tweet {
  display: none;
  padding-left: 30px;
  padding-right: 30px;
}

textarea {
  background-color: inherit;
  width: 100%;
  resize: none;
  border: 0;
  border-bottom: thick $primary-grey solid;
  color: $primary-grey;
  font-weight: bold;
  font-size: 1rem;
}

input {
  background-color: $submit-button-color;
  color: $text-color;
  font-family: 'Bungee', cursive;
  font-size: 80%;
}

input:hover {
  font-size: 90%;
}

.counter {
  font-family: 'Bungee', cursive;
  color: $primary-grey;
  float: right;
}

.red {
  color: $alert-color;
}

.error {
  color: $alert-color;
  border: $alert-color solid;
  width: 100%;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
  display: none;
}

@media only screen and (min-width: 768px) {
  section.new-tweet {
    margin-top: 140px;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
}