$primary-grey:    #545149;
$secondary-grey:  #CCCCCC;
$primary-blue:    #4056A1;

.tweet-container {
  border: thick $primary-grey solid;
  padding: 2rem;
  margin: 1em;
  word-wrap: break-word;
  &:hover {
    box-shadow: 0.8rem 0.8rem $secondary-grey;
    .tweet-handle, .tweet-icons {
      display: inline;
    }
  }
}

.tweet-avatar {
  float: left;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.tweet-handle {
  float: right;
  color: $secondary-grey;
  font-weight: bold;
  display: none;
}

.tweet-main {
  border-bottom: thick $primary-grey solid;
  padding: inherit;
}

.tweet-footer {
  font-size: 1rem;
  padding: 1rem;
}

.tweet-icons {
  float: right;
  color: $primary-blue;
  font-size: 0.8rem;
  display: none;
}

.tweet-icons i {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media only screen and (min-width: 768px) {
  #tweet-container {
    margin-top: 120px;
  }
}